<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Admin page</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>


<h4>Меню</h4>
<div th:each="d: ${dishes}">
    <span th:text="${d.getName()}"></span>
    <span th:text="${d.getDescription()}"></span>
    <span th:text="${d.getPrice()}"></span>
    <form th:method="delete" th:action="@{/admin/deleteDish/{id} (id = ${d.getId()})}" style="display: inline" >
        <button type="submit">Удалить</button>
    </form>
</div>
<h4>Добавить новую позицию товара</h4>
<div>
    <form enctype="multipart/form-data" th:action="@{/admin/addDish}" method="post">
        <div>
            <label>Название товара</label>
            <input type="text" name="name" th:value="${currentName}">
            <span style="color: red" th:text="${name}"></span>
        </div>
        <div>
            <label>Описание товара</label>
            <input type="text" name="description" th:value="${currentDescription}">
            <span style="color: red" th:text="${description}"></span>
        </div>
        <div>
            <label>Цена</label>
            <input type="number" name="price" th:value="${currentPrice}">
            <span style="color: red" th:text="${price}"></span>
        </div>
        <span style="color: red" th:text="${exists}"></span>
        <input type="submit" value="Добавить">
    </form>
</div>

<div>
    <a th:href="@{/admin/userList}">Посмотреть список юзеров</a>
</div>

<div>
    <a th:href="@{/admin/orderList}">Посмотреть список заказов</a>
</div>
</body>
</html>