<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<a th:href="@{/user/userAccount}">Данные об аккаунте</a>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

<div th:each="d: ${dishes}">
    <span th:text="${d.getName()}"></span>
    <span th:text="${d.getDescription()}"></span>
    <span th:text="${d.getPrice()}"></span>
    <form th:method="delete" th:action="@{/students/{id} (id = ${s.getId()})}" style="display: inline" >
        <button type="submit">Удалить</button>
    </form>
</div>
</body>
</html>