<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<a th:href="@{/home}">Главная страница</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>


<p>
    Логин :
    <span th:text="${name}"></span>
</p>
<p  th:if="${realName} != ''">
    Имя :
    <span th:text="${realName}"></span>
</p>
<p th:if="${phone} != ''">
    Номер телефона :
    <span th:text="${phone}"></span>
</p>
<p th:if="${address} != ''">
    Адрес :
    <span th:text="${address}"></span>
</p>

<form th:action="@{/home/updateUser}" method="post">
    <div>
        Имя
        <input type="text" name="realName" th:value="${currentRealName}">
        <span style="color: red" th:text="${realNameErr}"></span>
    </div>

    <div>
        Номер телефона
        <input type="tel" name="phone" th:value="${currentPhone}">
        <span style="color: red" th:text="${phoneErr}"></span>
    </div>
    <div>
        Адрес
        <input type="text" name="address" th:value="${currentAddress}">
        <span style="color: red" th:text="${addressErr}"></span>
    </div>

    <input type="submit" value="Отправить">
</form>


</body>
</html>